

create table city_province (
 	id int auto_increment,
  	provinceName varchar(32) not null,
   	primary key (id)
) ENGINE=MyISAM  DEFAULT CHARSET=utf8 COMMENT='省数据';


CREATE TABLE city_city (
	id int auto_increment,
	cityName varchar(32)  null ,
	zipcode varchar(32) null,
	ProvinceID  int,
  primary key (id)
) ENGINE=MyISAM  DEFAULT CHARSET=utf8 COMMENT='市数据';




CREATE TABLE city_District (
	id int auto_increment,
	DistrictName varchar(32)  null ,
	CityID int,
  primary key (id)
) ENGINE=MyISAM  DEFAULT CHARSET=utf8 COMMENT='区域数据';







INSERT INTO city_city (ID, CityName, ZipCode, ProvinceID)
VALUES (1, N'北京市', N'100000', 1)
INSERT INTO city_city (ID, CityName, ZipCode, ProvinceID)
VALUES (2, N'天津市', N'100000', 2)
INSERT INTO city_city (ID, CityName, ZipCode, ProvinceID)
VALUES (3, N'石家庄市', N'050000', 3)

 

BEGIN TRANSACTION
INSERT INTO city_city (ID, CityName, ZipCode, ProvinceID)
VALUES (101, N'淮南市', N'232000', 12)

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO city_city (ID, CityName, ZipCode, ProvinceID)
VALUES (202, N'佛山市', N'528000', 19)

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO city_city (ID, CityName, ZipCode, ProvinceID)
VALUES (303, N'武威市', N'733000', 28)
SET IDENTITY_INSERT city_city OFF

SET IDENTITY_INSERT TB_District ON
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (1, N'东城区', 1)
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (2, N'西城区', 1)
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (5, N'朝阳区', 1)

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (62, N'古冶区', 4)

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (163, N'鹰手营子矿区', 10)

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (263, N'和顺县', 20)

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (363, N'科尔沁左翼后旗', 29)

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (463, N'抚顺县', 40)

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (563, N'梅河口市', 55)

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (664, N'美溪区', 66)

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (768, N'新沂市', 76)

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (870, N'瓯海区', 89)

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (971, N'郊区', 104)

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (1076, N'丰泽区', 119)

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (1176, N'南康市', 130)

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (1276, N'潍城区', 141)

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (1376, N'顺河回族区', 153)

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (1477, N'内乡县', 164)

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (1577, N'京山县', 175)

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (1677, N'湘阴县', 188)

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (1779, N'金平区', 201)

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (1879, N'横县', 218)

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (1979, N'琼山区', 232)

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (2084, N'游仙区', 240)

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (2184, N'若尔盖县', 253)

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (2287, N'天柱县', 263)

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (2387, N'元谋县', 273)

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (2487, N'那曲县', 285)

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (2587, N'留坝县', 294)

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (2687, N'两当县', 309)

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO TB_District (ID, DistrictName, CityID)
VALUES (2787, N'阜康市', 329)
SET IDENTITY_INSERT TB_District OFF

SET IDENTITY_INSERT TB_Province ON
INSERT INTO TB_Province (ID, ProvinceName)
VALUES (1, N'北京市')
INSERT INTO TB_Province (ID, ProvinceName)
VALUES (2, N'天津市')
INSERT INTO TB_Province (ID, ProvinceName)
VALUES (3, N'河北省')

COMMIT TRANSACTION
GO

BEGIN TRANSACTION
INSERT INTO TB_Province (ID, ProvinceName)
VALUES (6, N'辽宁省')
SET IDENTITY_INSERT TB_Province OFF

COMMIT TRANSACTION
GO
